.cardContainer {

    @media screen and (max-width:992px) {
        margin-bottom: 1.5rem;
    }

    .card {

        .cardHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #CAD2C5;
            padding: 0 !important;
            padding: 10px 5px !important;
            // border-radius: 15px;

            .icons {
                font-size: 14px;
                color: gray;

                svg {
                    padding: 0 .2rem;
                    margin: 0 .5rem;
                    cursor: pointer;
                }

            }
        }

        .cardTitle {
            font-size: 17px;
            font-weight: 600;
            margin: .5rem 0;
        }

        .cardSubtitle {
            font-size: 13px;
            margin: .5rem 0;
        }

        .cardFooter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;

            .openLinkBtn {
                background: none;
                color: #52796F;
                border: none;
                font-size: 13px;
                font-weight: 600;
                padding: 0;
                text-decoration: underline;
            }

            .copyBtn {
                font-size: 11px;
                background-color: #52796F;
                border: none;
                outline: none;

                &:focus {
                    border: none;
                    outline: none;
                }

                svg {
                    margin-right: .5rem;
                }
            }
        }

        .disabledBody {
            opacity: .5;
        }

        .disabledFooter {
            opacity: .5;

            .openLinkBtn {
                cursor: not-allowed;
                pointer-events: none;
            }

            .copyBtn {
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }
}

.deleteModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline: none;

    .modalText {
        font-size: 13px;
        font-weight: 600;
        margin: 10px 0 70px 0;

        p {
            margin: 0;
        }
    }

    .modalBtns {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .btn {
            width: 40%;
            background-color: #fff;
            border: 1px solid #52796F;
            color: #52796F;
            font-size: 13px;
            font-weight: 600;
            transition: ease-in-out .3s !important;

            &:hover {
                border: none;
                background-color: #52796F;
                color: #fff;
            }
        }
    }
}

.editModal {
    direction: rtl;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: 600px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline: none;

    .tabContainer {
        width: 100%;

        .tabs {
            width: 100%;
            padding: 0;
            font-size: 13px;
        }

        .tabContent {
            margin-top: 1rem !important;

            .fields {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .field {
                    width: 45%;
                    margin: 0 0 1rem 4rem;
                    display: flex;
                    flex-direction: column;
                    // align-items: flex-start;
                    justify-content: center;

                    label {
                        display: block;
                        margin-bottom: .5rem;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 500;
                        color: rgb(17 24 39);
                    }

                    input,
                    textarea {
                        border: 1px solid rgb(209 213 219);
                        color: rgb(17 24 39);
                        font-size: 12px;
                        line-height: 20px;
                        border-radius: 8px;
                        display: block;
                        width: 100%;
                        padding: 1rem;

                        &:focus {
                            outline: none;
                            border: 1px solid #354F52;
                        }

                    }

                    select {
                        border: 1px solid rgb(209 213 219);
                        color: rgba(17, 24, 39, .7);
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 20px;
                        border-radius: 8px;
                        display: block;
                        width: 100%;
                        padding: 1rem;

                        &:focus {
                            outline: none;
                            border: 1px solid #354F52;
                        }
                    }

                    .inputGroup {
                        direction: ltr !important;
                        width: 100% !important;
                        display: flex;
                        align-items: center;

                        .mutedText {
                            background-color: rgb(243 244 246);
                            border: 1px solid rgb(209 213 219);
                            line-height: 20px;
                            padding: 1rem;
                            border-radius: 8px 0 0 8px;
                            direction: ltr !important;
                            font-size: 13px;
                            font-weight: 600;
                            color: rgba(#000, .6);
                        }

                        input {
                            border-radius: 0 8px 8px 0;
                        }
                    }
                }

                .submitBtn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: .5rem 0;
                    padding: .5rem 0;

                    button {
                        padding: 1rem;
                        font-size: 10px !important;
                        border-radius: 12px;
                        background-color: #fff;
                        color: #709680;
                        border: 1px solid #709680;
                        transition: ease-in .3s;

                        &:hover {
                            background-color: #709680;
                            color: #fff;
                        }
                    }
                }

                .timeContainer {

                    // .cardsContainer {}

                    .addBtn {
                        margin: 2rem 0;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding: 1rem 0;

                        button {
                            padding: 1rem;
                            border: none;
                            font-size: 12px;
                            border-radius: 12px;
                            background-color: #fff;
                            color: #709680;
                            border: 1px solid #709680;
                            display: flex;
                            align-items: center;
                            transition: ease-in .3s;

                            svg {
                                margin-right: .2rem;
                            }

                            &:hover {
                                background-color: #709680;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .timeTable {
                width: 100%;
                padding: 1rem;
                border-radius: 12px;

                th {
                    padding: 1.5rem 0;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 600;
                    border-bottom: 1px solid lightgray;
                }

                td {
                    padding: 1.5rem 0;
                    text-align: center;
                    font-size: 12px;
                    border-bottom: 1px solid lightgray;

                    #trashIcon {
                        cursor: pointer;
                        color: red;
                        font-size: 13px;
                    }

                    #editIcon {
                        cursor: pointer;
                        color: #52796F;
                    }
                }
            }

            .timeSection {
                display: flex;
                flex-direction: column;
                // margin-right: 20px;
                padding: 0 20px;

                @media screen and (max-width:425px) {
                    padding: 0 10px;
                }

                .times {
                    display: flex;
                    flex-direction: column;

                    .timeContainer {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 30px;

                        label {
                            font-weight: 600;
                            margin-bottom: .5rem;
                            font-size: 14px;
                        }

                        .timePicker {
                            position: relative;
                            font-size: 13px;
                            padding-right: 10px;

                            input {
                                padding: 10px;
                                border: 1px solid lightgray;
                                border-radius: 10px;
                                outline: none;

                                &:focus {
                                    outline: none !important;
                                    border: 1px solid #709680 !important;
                                }
                            }
                        }
                    }
                }
            }

            .addBtn {
                margin-top: 1.5rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                // padding: 1rem 0;

                button {
                    padding: .5rem;
                    border: none;
                    font-size: 10px;
                    border-radius: 10px;
                    background-color: #fff;
                    color: #709680;
                    display: flex;
                    align-items: center;
                    transition: ease-in .2s;
                    border: 1px solid #709680;

                    svg {
                        margin-right: .2rem;
                    }

                    &:hover {
                        background-color: #709680;
                        color: #fff;
                    }
                }
            }
        }
    }
}