.navbarContainer {
    @media screen and (max-width: 425px) {
        padding: .5rem;
    }

    .userMenu {
        @media screen and (min-width: 768px) {
            order: 2;
        }

        .userBtn {
            @media screen and (min-width: 768px) {
                margin-right: 0;
            }

            .openMenu {
                clip: rect(0, 0, 0, 0);
            }
        }

        .menu {
            @media screen and (max-width: 768px) {
                top: 45px;
            }

            .menuList {
                padding: .5rem 0;
                list-style: none;
                margin: 0;
            }
        }

        .burgerBtn {
            @media screen and (min-width:768px) {
                display: none;
            }

            span {
                clip: rect(0, 0, 0, 0);
            }
        }
    }

    .middleMenu {
        @media screen and (max-width: 768px) {
            border: 1px solid white;
            margin: 1rem 0;
            padding: 1rem .5rem;
            border-radius: 12px;
        }
        @media screen and (min-width: 768px) {
            display: flex;
            width: auto;
            order: 1;
        }

        .menu {
            @media screen and (min-width: 768px) {
                padding: 0px;
                flex-direction: row;
                margin-top: 0px;
                border-width: 0px;
            }

            @media screen and (max-width: 375px) {
                font-size: 11px;
            }

            li {
                a {
                    @media screen and (max-width: 375px) {
                        margin: 0;
                        padding: .3rem .5rem !important;
                    }
                }

                svg {
                    margin-left: 6px;
                }
            }
        }
    }
}