.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding: 1.5rem;
    border: 1px solid #2F5061;
    border-radius: 15px;

    .dateContainer {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 1rem;

        label {
            font-weight: 600;
            margin-bottom: .5rem;
        }

        input {
            width: 100% !important;
            padding: 1.4rem .5rem;
            border: 1px solid lightgray;
            border-radius: 10px;
            outline: none;

            &:focus {
                outline: none;
                border: 1px solid #4297A0;
            }
        }
    }

    .timeContainer {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 600;
            margin-bottom: .5rem;
            font-size: 14px;
        }

        .timePicker {
            position: relative;
            font-size: 13px;

            input {
                width: 100% !important;
                padding: .8rem;
                border: 1px solid lightgray;
                border-radius: 10px;
                outline: none;
                font-size: 13px;
                direction: ltr !important;
                text-align: right;

                &:focus {
                    outline: none;
                    border: 1px solid #4297A0;
                }
            }

            .timeDropdown {
                display: flex;
                max-height: 200px;
                max-width: 200px;
                direction: ltr !important;
                position: absolute;
                top: 45px;
                border: 2px solid lightgray;
                border-radius: 12px;
                padding: .5rem;
                background-color: #fff;
                z-index: 10;

                .hours {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow-y: scroll;
                    width: 65px;

                    .active {
                        background-color: #E57F84;
                    }

                    span {
                        margin: 4px 0;
                        cursor: pointer;
                        transition: ease-in .1s;
                        width: 100%;
                        text-align: center;
                        border-radius: 50px;

                        &:hover {
                            background-color: #E57F84;
                        }
                    }
                }

                .minutes {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow-y: scroll;
                    width: 65px;

                    .active {
                        background-color: #E57F84;
                    }

                    span {
                        margin: 4px 0;
                        cursor: pointer;
                        transition: ease-in .1s;
                        width: 100%;
                        text-align: center;
                        border-radius: 50px;

                        &:hover {
                            background-color: #E57F84;
                        }
                    }
                }

                .zones {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow-y: scroll;
                    width: 65px;
                    font-size: 12px;
                    font-weight: 600;

                    .active {
                        background-color: #E57F84;
                    }

                    span {
                        margin: 4px 0;
                        cursor: pointer;
                        transition: ease-in .1s;
                        width: 100%;
                        text-align: center;
                        border-radius: 50px;
                        padding: .5rem;

                        &:hover {
                            background-color: #E57F84;
                        }
                    }
                }
            }
        }
    }
}