.container {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    // border: 1px solid #2F5061;
    border-radius: 15px;
    margin: 0;
    -webkit-box-shadow: 0px 1px 9px -2px #C8B4AF;
    box-shadow: 0px 1px 9px -2px #C8B4AF;

    @media screen and (max-width:425px) {
        padding: 1rem .5rem;
    }

    .dateContainer {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 1rem;

        label {
            font-weight: 600;
            margin-bottom: 15px;
        }

        input {
            width: 100% !important;
            padding: 1.4rem .5rem;
            border: 1px solid lightgray;
            border-radius: 10px;
            outline: none;

            &:focus {
                outline: none;
                border: 1px solid #709680;
            }
        }
    }

    .timeSection {
        display: flex;
        flex-direction: column;
        // margin-right: 20px;
        padding: 0 20px;

        @media screen and (max-width:425px) {
            padding: 0 10px;
        }

        .times {
            display: flex;
            flex-direction: column;

            .timeContainer {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                label {
                    font-weight: 600;
                    margin-bottom: .5rem;
                    font-size: 14px;
                }

                .timePicker {
                    position: relative;
                    font-size: 13px;
                    padding-right: 10px;

                    // .costumInput {
                    //     // width: 300px !important;
                    //     padding: 10px;
                    //     border: 1px solid lightgray;
                    //     border-radius: 10px;
                    //     outline: none;
                    //     // direction: rtl !important;
                    //     // text-align: right;

                    //     &:focus {
                    //         outline: none;
                    //         border: 1px solid #709680;
                    //     }
                    // }

                    input {
                        padding: 10px;
                        border: 1px solid lightgray;
                        border-radius: 10px;
                        outline: none;

                        &:focus {
                            outline: none !important;
                            border: 1px solid #709680 !important;
                        }
                    }
                }
            }
        }
    }

    .addBtn {
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // padding: 1rem 0;

        button {
            padding: .5rem;
            border: none;
            font-size: 10px;
            border-radius: 10px;
            background-color: #fff;
            color: #709680;
            display: flex;
            align-items: center;
            transition: ease-in .2s;
            border: 1px solid #709680;

            svg {
                margin-right: .2rem;
            }

            &:hover {
                background-color: #709680;
                color: #fff;
            }
        }
    }
}

.timeTableContainer {
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 9px -2px #C8B4AF;
    box-shadow: 0px 1px 9px -2px #C8B4AF;
    padding: 2rem;
    max-height: 345px;
    overflow-y: scroll;
    margin: 30px 0;

    .timeTable {
        width: 100%;
        padding: 1rem;
        border-radius: 12px;

        th {
            padding: 1.5rem 0;
            text-align: center;
            font-size: 13px;
            font-weight: 600;
            border-bottom: 1px solid lightgray;
        }

        td {
            padding: 1.5rem 0;
            text-align: center;
            font-size: 12px;
            border-bottom: 1px solid lightgray;

            #trashIcon {
                cursor: pointer;
                color: red;
                font-size: 13px;
            }

            #editIcon {
                cursor: pointer;
                color: #52796F;
            }
        }
    }
}

.addAllBtn {
    margin: 3rem 0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: fit-content;
        padding: 1rem;
        font-size: 12px;
        font-weight: 600;
        border-radius: 12px;
        background-color: #fff;
        color: #709680;
        border: 1px solid #709680;
        transition: ease-in .3s;

        &:hover {
            background-color: #709680;
            color: #fff;
        }
    }
}