.responsiveMenuContainer {
    display: none;
    width: 100%;

    @media screen and (max-width: 576px) {
        display: block;
    }
}


.sidebarContainer {
    @media screen and (max-width: 576px) {
        display: none;
    }

    .itemIcon {
        @media screen and (max-width:992px) {
            font-size: 15px !important;
        }
    }

    .itemText {
        @media screen and (max-width:800px) {
            font-size: 11px !important;
        }

        @media screen and (max-width:768px) {
            display: none;
        }
    }
}