// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@font-face {
  font-family: 'IRAN-SANS';
  src: url('../public/FontsFree-Net-ir_sans.ttf');
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  font-family: 'IRAN-SANS';
  direction: rtl !important;

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray;
    transition: ease-in .5s !important;
    border-radius: 12px !important;

    &:hover {
      background: #555;
    }
  }
}