@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRAN-SANS';
  src: url('../public/fonts/FontsFree-Net-ir_sans.ttf');
}

* {
  font-family: 'IRAN-SANS';
  direction: rtl !important;

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray;
    transition: ease-in .5s !important;
    border-radius: 12px !important;

    &:hover {
      background: #555;
    }
  }
}

.spinner-wrapper {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    -webkit-animation: rotation .5s infinite linear;
    -moz-animation: rotation .5s infinite linear;
    -o-animation: rotation .5s infinite linear;
    animation: rotation .5s infinite linear;
    border: 6px solid rgba(0, 174, 239, .15);
  }
}


@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}