.container {
    direction: rtl !important;
    padding: 1.5rem 0 0 0;

    .secondNavbar {
        background-color: #fff;
        color: gray;
        font-size: 13px;
        padding: 0;

        .navbarContainer {
            // max-width: 1280px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding: 0 1rem;

            .backBtn {
                button {
                    transition: ease-in .2s;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 10rem;
                    padding: 1rem;
                    border-radius: 12px;
                    background: #fff;
                    color: #709680;
                    border: 1px solid #709680;
                    font-size: 12px;

                    &:hover {
                        background-color: #709680;
                        color: #fff;
                    }
                }
            }

            .addEvent {
                button {
                    transition: ease-in-out .3s;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 10rem;
                    padding: 1rem;
                    border-radius: 12px;
                    background: #709680;
                    color: #fff;
                    border: none;
                    font-size: 12px;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }
    }

    h6 {
        font-size: 13px;
        padding: 1rem;
        margin: 0;
        background-color: #CAD2c5;
        color: #2f3e46;
        border-radius: 12px;
        text-align: center;
        line-height: 1.8;
    }

    .eventContainer {
        max-height: 350px;
        overflow-y: scroll;
        padding: 2rem 1rem;
        margin: 2rem;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        transition: all .3s;

        &:hover {
            box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
        }

        .header {
            width: 100%;
            border-bottom: 2px solid #52796F;
            padding-bottom: 1rem;
            font-size: 14px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
            position: relative;

            .icon {
                position: absolute;
                top: -33px;
                right: -16px;
                font-size: 20px;
                transform: rotate(270deg);
                color: #52796F;
            }
        }

        .guests {
            margin-top: 1rem;
            padding: 1rem;
            font-size: 13px;

            span {
                color: rgba(0, 0, 0, 0.6);
            }

            .guestsHeader {
                border-bottom: 2px solid #CAD2c5;
                padding: 1rem 0;
                margin-bottom: 1rem;

                .colItem {
                    text-align: center;
                }
            }

            .guestRow {
                border-bottom: 1px solid lightgray;
                padding-bottom: 1rem;
                margin: 1.5rem 0;

                .guestRowItem {
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
    }
}