.container {
    direction: rtl;
    margin: 50px 0;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

    .eventDetails {
        border: 1px solid lightgray;
        padding: 20px 0;
        border-radius: 12px;

        .title {
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 15px;
            font-size: 20px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.5);
            margin: 15px 0;

            svg {
                margin-left: 10px;
            }
        }

        .eventName {
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 15px;
            font-size: 16px;
            font-weight: 600;
            color: #4297A0;
        }

        .eventTime {
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 15px;
            font-size: 14px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.5);
            margin: 15px 0;

            svg {
                margin-left: 10px;
            }
        }

        .eventPlace {
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 15px;
            font-size: 14px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.5);
            margin: 15px 0;

            svg {
                margin-left: 10px;
            }
        }

    }

    .timesContainer {
        border: 1px solid lightgray;
        padding: 20px 0;
        border-radius: 12px;
        max-height: 350px;
        overflow-y: scroll;

        .header {
            padding-right: 15px;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 600;
        }

        .times {
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .time {
                width: 50%;
                border: 1px solid pink;
                border-radius: 12px;
                padding: 10px 30px;
                font-size: 18px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.6);
                text-align: center;
                cursor: pointer;
                transition: ease-in .2s;
                margin: 15px 0;

                &:hover {
                    background-color: pink;
                    color: red;
                }
            }
        }
    }
}