.row {
    margin: 0 !important;
    -webkit-box-shadow: 0px 1px 9px -2px #C8B4AF;
    box-shadow: 0px 1px 9px -2px #C8B4AF;

    .secondNavbar {
        background-color: #fff;
        color: gray;
        font-size: 13px;

        .navbarContainer {
            max-width: 1280px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            padding: 1rem;

            .backBtn {
                button {
                    transition: ease-in .2s;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 10rem;
                    padding: 1rem;
                    border-radius: 12px;
                    background: #fff;
                    color: #4297A0;
                    border: 1px solid #4297A0;
                    font-size: 12px;

                    &:hover {
                        background-color: #4297A0;
                        color: #fff;
                    }
                }
            }

            .addEvent {
                button {
                    transition: ease-in-out .3s;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 10rem;
                    padding: 1rem;
                    border-radius: 12px;
                    background: #4297A0;
                    color: #fff;
                    border: none;
                    font-size: 12px;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }
    }
}

.formContainer {
    padding: 2rem;

    .container {
        width: 100%;
        padding: 1rem 2rem;

        .field {
            width: 60%;
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            justify-content: center;

            label {
                display: block;
                margin-bottom: .5rem;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: rgb(17 24 39);
            }

            input,
            textarea {
                // background-color: rgb(243 244 246);
                border: 1px solid rgb(209 213 219);
                color: rgb(17 24 39);
                font-size: 13px;
                line-height: 20px;
                border-radius: 8px;
                display: block;
                width: 100%;
                padding: 1rem;

                &:focus {
                    outline: none;
                    border: 1px solid #E57F84;
                }

            }

            select {
                // background-color: rgb(243 244 246);
                border: 1px solid rgb(209 213 219);
                color: rgba(17, 24, 39, .7);
                font-size: 13px;
                font-weight: 600;
                line-height: 20px;
                border-radius: 8px;
                display: block;
                width: 100%;
                padding: .5rem 1rem;

                &:focus {
                    outline: none;
                    border: 2px solid #E57F84;
                }
            }

            .inputGroup {
                direction: ltr !important;
                width: 100% !important;
                display: flex;
                align-items: center;

                .mutedText {
                    background-color: rgb(243 244 246);
                    border: 1px solid rgb(209 213 219);
                    line-height: 20px;
                    padding: 1rem;
                    border-radius: 8px 0 0 8px;
                    direction: ltr !important;
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(#000, .6);
                }

                input {
                    border-radius: 0 8px 8px 0;
                }
            }
        }
    }
}